@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* .modal-dialog{
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .212);
} */
